<!--mostrará una tabla con los movimientos (compras y conversiones de criptomonedas) realizadas por el usuario-->
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CRYPTODING WEB</title>
            <!-- Estilos para la web en CSS-->
            <link rel="stylesheet" href="/static/normalize.css"><!--Enlace a la página de estilos que contiene el CSS para dar formato a html-->
            <link rel="stylesheet" href="/static/skeleton.css"><!--Enlace a la página de estilos que contiene el CSS para dar formato a html-->
            <link rel="stylesheet" href="/static/styles.css"><!--Enlace a la página de estilos que contiene el CSS para dar formato a html-->
            
            <!--Hasta aquí estilos para la web en CSS-->
        </head>
        <body>
            <header>
                CRYPTODING - Cryptocurrencies simulator
            </header>
                
                <h3 class="database_error_access">ERROR EN ACCESO A BASE DE DATOS</h3>
            <footer>
                &copy; 2020 - Todos los derechos reservados.<!--esto es un entities para pintar el símbolo copyright-->
            </footer>
        </body>
</html>