<!--mostrará en pantalla el estado de la inversión, los euros gastados en comprar BTC y el valor actual del total de criptomonedas que 
    existan en el stock del usuario según sus movimientos-->


    {% extends "base.html" %}

    {% block titulo %} CRYPTODING WEB | ESTADO {% endblock %}
    
    
    {% block contenido%}
        
        <b><h3 align="center">ESTADO DE LA INVERSIÓN</h3></b>
        <div>
            <a class="status_button_return_style" href="/">Return</a>
        </div>

        <table class="status_table"><!--para colocar el ancho de toda la página-->
        
            <tr>
                <th>Saldo de EUR invertidos</th>
                <th>Total de EUR invertidos</th>
                <th>Valor actual de CRIPTOS a EUR</th>
                <th>Valor actual</th>
                
        
            </tr>
           <!--bucle en jinja para obtener claves y valor de nuestro diccionario-->
            <tr>
                {% for saldo_euro in diferencia_euro %}
                <td> {{saldo_euro | round(8, 'ceil')}} </td><!--valor de region contenido en nuestro diccionario guardado en la variable region-->
                {% endfor %}

                {% for euro in cantidad_to_EUR %}
                <td> {{euro[0]}} </td><!--valor de ingresos que hay en nuestro diccionario guardado en la variable data-->
                {% endfor %}
                <td>
                
                {% for symbol in dict_criptos %}
                    <li>{{symbol}} {{"-"}} {{dict_criptos[symbol] | round(8, 'ceil')}} {{ "EUR" }}</li>
                {% endfor %}
                
                {% for money in total_criptos_a_euro %}
                    {{"Total euros"}} {{"-"}} {{money | round(8, 'ceil')}} {{ "EUR" }}
                {% endfor %}

                </td>
                {% for valor in valor_actual %}
                <td> {{valor | round(8, 'ceil')}} </td><!--valor de region contenido en nuestro diccionario guardado en la variable region-->
                {% endfor %}
            </tr>

        </table>
           
            
    



                 

               
               
                    
    {% endblock %}
       
