<!--mostrará en pantalla el estado de la inversión, los euros gastados en comprar BTC y el valor actual del total de criptomonedas que 
    existan en el stock del usuario según sus movimientos-->


    {% extends "base.html" %}

    {% block titulo %} CRYPTODING WEB | ESTADO {% endblock %}
    
    
    {% block contenido%}
        
        <b><h3 align="center">ESTADO DE LA INVERSIÓN</h3></b>
        <div>
            <a class="status_button_return_style" href="/">Return</a>
        </div>
    
        
        <div class="status_label_investment_style">
            <label for="investment">Inversión:</label>
            
        </div>

        <div class="output_quantity_to_style">
            <label>_________________________</label>
        </div>

        <table class="status_table"><!--para colocar el ancho de toda la página-->
    
            <tr>
                <th>Criptomoneda</th>
                <th>Cantidad</th>                
    
            </tr>
            {% for moving in movements %}<!--bucle en jinja para obtener claves y valor de nuestro diccionario-->
            <tr>
                <td> {{moving[1]}} </td><!--valor de region contenido en nuestro diccionario guardado en la variable region-->
                <td> {{moving[2]}} </td><!--valor de ingresos que hay en nuestro diccionario guardado en la variable data-->
    
            </tr>
            {% endfor %}
        </table>

           
            
        </div>



                 

               
               
                    
    {% endblock %}
       
